
* {
    bos-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    width:90vw;
}

.pannel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    position: relative;
}

.pannel h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    margin: 0px;
}

.pannel.active {
    flex: 10;
}
