* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    item-align: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}

ul {
  list-style-type: none;
  font-size: 20px;
}

.dropbtn {
    width: 170px;
    background: white;
    border: 2px solid;
    border-radius: 10px;
}

.dropdown {
    position: absolute;
    left: 10px;
    top: 10px;
    background: transparent;
    width: 170px;
    height: 220px;

}

.dropdown .dropdown-content {
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    background: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dropdown .dropdown-content.show{
    transform: scale(1);
    opacity: 1;
    background: white;
    position: absolute;
    align-itmes: center;
    left:0px;
    top: 23px;
    width: 170px;
    height: 200px;
    overflow-x: hidden;
    border: 2px solid;
    transform: scaleY(1);
}

.sidebar {
    background: rgb(92, 92, 92);
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0px;
    left:0px;
    z-index: -1;
    border: 2px, solid;
    boder-radius: 50px
}

.fa-solid.fa-angle-down.up {
    rotate: 180deg;
}

.sidebar-container {
    background: blue;
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 195px;
    height: 60%;
}

.rating-website {
    position: absolute;
    top: 10%;
    right: 36%;
}

.fa-regular.fa-star {
    font-size: 10px;
}

.rating-website{
    width: 63px;
    height: 63px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

