
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
     box-sizing: border-box;
     margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background: #333333;
    color: #222222;
    /* display: flex;
    justify-content: center;
    item-align: center;
    height: 100vh; */
    margin: 0;
    overflow-x: hidden;
}

.container {
    background: #fafafa;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

