 *{
    box-sizing: border-box;
}

 body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

 .container.star {
    height: 120px;
    width: 550px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px, solid, black;
    border-radius: 20px;
}

 .rate {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background: transparent;
    border: 0px;
    margin: 4px;
}

 .star {
    position: relative;
    height: 100px;
    width: 100px;
}

 :hover.rate .star {
    height: 110px;
    width: 110px;
    cursor: pointer;
}

 :hover.rate{
    height: 110px;
    width: 110px;
}

:hover.container.star {
    cursor: pointer;
}
