 *{
    box-sizing: border-box;
 }

 body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
 }

 .container.star {
    height: 120px;
    width: 500px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px, solid, black;
    border-radius: 20px;
 }

 .rate {
    position: relative;
    align-items: center;
    height: 100px;
    width: 100px;
 }

 .star {
    position: relative;
    height: 100px;
    width: 100px;
 }
 :hover.rate {
    height: 110px;
    width: 110px;
    transform: transition 0.5s ,ease;
 }
